/**
*
* Articles
* Articles with secondary color
* Button style change on computer
*
*/





/*------------------------------------*\
  #ARTICLES
\*------------------------------------*/
.article { padding-bottom: 2rem }

  .article-p { font-size: 1.7rem }





/*------------------------------------*\
  #ARTICLES WITH SECONDARY COLOR
\*------------------------------------*/

@media (max-width: 1023px) {

  .secondary-colored {
    display:    inline-block;
    background: var(--secondary-color);
    padding:    3rem initial
  }

    .secondary-colored-text {
      color: var(--secondary-font-color)
    }

}





/*------------------------------------*\
  #BUTTON STYLE CHANGES ON COMPUTER
\*------------------------------------*/

@media (min-width: 1024px) {
  .btn-default, .btn-info {
    background:   white;
    color:        black;
    border-color: grey
  }

  .btn-default:hover, .btn-info:hover {
    background:   lightgrey;
    color:        black;
    border-color: grey
  }
}