/**
*
* Articles
* Articles with secondary color
* Button style changeS on computer
*
*/




/*------------------------------------*\
  #ARTICLES
\*------------------------------------*/

main #pages p {
  display: inline-block
}

main p {
  font-size: 1.7rem
}

main article {
  padding-bottom: 2rem
}

/*------------------------------------*\
  #ARTICLES WITH SECONDARY COLOR
\*------------------------------------*/

@media (max-width: 1023px) {

  main .blue {
    display: inline-block;
    background: var(--secondary-color);
    padding: 3rem initial
  }

  main .blue h2, main .blue p {
    color: var(--secondary-font-color)
  }

}

/*------------------------------------*\
  #BUTTON STYLE CHANGES ON COMPUTER
\*------------------------------------*/

@media (min-width: 1024px) {
  main .btn-default, main .btn-info {
    background: white;
    color: black;
    border-color: grey
  }

  main .btn-default:hover, main .btn-info:hover {
    background: lightgrey;
    color: black;
    border-color: grey
  }
}