/**
* OVERVIEW
*
* Style sheets:
*
* main.css..........Main page
* hirek.css
* article.css
*/


/**
* Content of this file:
*
* VARIABLES
* variables.........Global colors
*
* BOX-SIZING
* box-sizing
*
* CONTAINERS
* header
* nav-line
* footer
*/





/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
  --primary-color:        black;
  --primary-font-color:   white;
  --secondary-color:      lightblue;
  --secondary-font-color: black;
}





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* { box-sizing: border-box }





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header { background: var(--primary-color) }

  .header .page-name {
    position:     relative;
    top:          1rem;
    right:        1rem;
    color:        var(--primary-font-color);
    font-family:  Calibri, sans-serif;
    font-size:    3rem;
    font-weight:  bold;
    text-align:   center
  }

  @media (min-width: 1024px) {
    .header .page-name { font-size: 5rem; }
  }

  @media (max-width: 767px) {
    .header .header-bigger-screen { display: none }
  }




  
/*------------------------------------*\
  #NAV-LINE
\*------------------------------------*/

.nav-line { margin-top: 1rem }

  .nav-page {
    display:    inline-block;
    font-size:  1.7rem
  }





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  padding:    1rem;
  margin-top: 2rem
}

  .footer, .footer .insta-link,
  .footer .fa-instagram {
    text-align: center;
    background: var(--primary-color);
    color:      var(--primary-font-color);
  }

  .footer .first { padding-right: 1rem }

  .footer .insta-link, .footer .made-by { line-height: 2 }

  .footer .made-by {
    border:     .1px solid;
    margin-top: 1rem
  }

  .footer .fullkiegtem { font-size: 1.7rem }

  @media (min-width: 375px) {
    .footer .small-mobile-only { display: none }
  }