* {
  box-sizing: border-box
}

/* ==== ITEMS ==== */

/* == header == */
@media (max-width: 767px) {
  #header-bigger-screen {
      display: none
  }
}

header {
  background: black
}

header h2 {
  position: relative;
  top: 1rem;
  right: 1rem;
  color: white;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  text-align: center
}

/* == main - links == */
#links h2 {
  text-align: center;
  font-size: 2.5rem
}

#links .btn-info {
  border-radius: 9999px
}

/* == footer == */

footer {
  /*padding-top: .1rem;*/
  padding: 1rem;
  margin-top: 2rem
}

footer, footer a, footer .fa-instagram{
  text-align: center;
  background: black;
  color: white;
  
}

footer a:hover {
  color: white
}

footer .first {
  padding-right: 1rem
}

footer a, footer p {
  line-height: 2
}

footer p {
  border: .1px solid;
  margin-top: 1rem
}

/* ==== COMPUTER ==== */

@media (min-width: 1024px) {

  /* == header == */
  header h2 {
      font-size: 5rem;
  }
}
